.certImg {
  padding-left: 10em;
  margin-top: 1em;
  width: 85%;
}

.flexBox {
  display: flex;
}

.flexBoxCenter {
  justify-content: center;
}

@media only screen and (max-width: 768px) { 
  .certImg {
    padding-left: 4em;
    margin-top: 1em;
    width: 85%;
  }
}