div#infoBox{
    position:relative; /*this is the key*/
    color:#000;
    /* top:50px;
    left:50px; */
    text-decoration:none;
    text-align:center;
  }
  
  /* #infoBox {display: none} */
  
  #linkedIn:hover ~ #gitHub {
    display: none;
  }
  
  #gitHub:hover ~ div#infoBox { /*the span will display just on :hover state*/
    display: block;
    position:relative;
    /* top:-60px; */
    /* width:15em; */
    /* border:5px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center;
    padding:10px; */
  }
  
  #linkedIn:hover ~ #infoBox:after{ /*the span will display just on :hover state*/
    content:'';
    position:absolute;
    bottom:-11px;
    width:10px;
    height:10px;
    border-bottom:5px solid #0cf;
    border-right:5px solid #0cf;
    background:#cff;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }

  /* https://stackoverflow.com/questions/10243440/how-to-create-a-box-when-mouse-over-text-in-pure-css */