.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(18px);
      transform: translateY(18px);
    }
  
    33.3% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  
    49.95% {
      -webkit-transform: translateY(14px);
      transform: translateY(14px);
    }
  
    66.6% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  @media (min-width: 768px) {
    .navbar{
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }
  
  body {
    background: radial-gradient(rgb(173, 175, 120), rgb(31, 28, 28)); 
  }
  