.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 0.02em rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height: 0.5em;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(230, 7, 7, 0.35) 0%, rgba(235, 8, 8, 0) 80%);
    background: radial-gradient(ellipse at center, rgb(250, 142, 1) 0%, rgba(250, 176, 176, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-0.2em);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-0.2em);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(0.3em);
      transform: translateY(0.3em);
    }
  
    33.3% {
      -webkit-transform: translateY(-0.25em);
      transform: translateY(-0.25em);
    }
  
    49.95% {
      -webkit-transform: translateY(0.15em);
      transform: translateY(0.15em);
    }
  
    66.6% {
      -webkit-transform: translateY(-0.08em);
      transform: translateY(-0.08em);
    }
  
    83.25% {
      -webkit-transform: translateY(0.04em);
      transform: translateY(0.04em);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.menuItem, .activeTab {
  font-family: 'Henny Penny', sans-serif;
  font-size: 1.2em;
  border-radius: 1.2em;
}


@media only screen and (max-width: 768px) {
  .menuItem, .activeTab {
    font-size: 1em;
  }
  .activeTab {
    border-radius: 1em;
  }
}

.menuItem {
  background: radial-gradient(rgba(47, 46, 28, 0.897), rgba(61, 54, 54, 0.678));
  color: white;
}

.activeTab {
  background: radial-gradient(rgba(135, 138, 70, 0.575), rgba(83, 74, 74, 0.678));
}

.linkNote {
    position:relative;
    z-index:2;
    border-radius: 2em;
    background: radial-gradient(rgba(126, 128, 78, 0.472), rgba(61, 54, 54, 0.678));
    text-align: center;
    padding: 3.5em 0;
    margin-top: 1.2em;
}

.linkNoteHidden {
  display: none;
}
