* {
    /* outline: 1px solid grey; */
}


.projectCardLess {
    background: radial-gradient(rgba(114, 116, 68, 0.575), rgba(61, 54, 54, 0.678));
    box-shadow: 2em 2em 2em 2em rgba(0,0,0,0.4);
    
}
.projectCardMore {
    background: radial-gradient(rgba(114, 116, 68, 0.575), rgba(61, 54, 54, 0.678));
    box-shadow: 2em 2em 2em 2em rgba(0,0,0,0.4);
    
}

.projectCardLess:after {
    background: linear-gradient(-45deg, #3d3b3aca 1em, transparent 0), linear-gradient(45deg, #3d3b3aca 1em, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 2em 2em;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2em;
}

.bgYellow {
    background: radial-gradient(rgba(119, 121, 81, 0.644), rgba(61, 54, 54, 0.623));
}