* {
    /* outline: 1px solid grey; */
}


#moreInfoNav1, #moreInfoNav2, #moreInfoNav3 {
    background: radial-gradient(rgba(114, 116, 68, 0.575), rgba(61, 54, 54, 0.678));
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

/* #moreInfoContent1, #moreInfoContent2, #moreInfoContent3 {display: none;} */

#moreInfoNav1:hover ~ #moreInfoContent1, #moreInfoNav2:hover ~ #moreInfoContent2, #moreInfoNav3:hover ~ #moreInfoContent3 {
    display: block;
    }


.projectCard {
    background: radial-gradient(rgb(175, 177, 105), rgba(78, 72, 72, 0.883));
    box-shadow: 20px 30px 15px 15px rgba(0,0,0,0.4);
    z-index: 2;
    border-radius: 40px;
    
}

#projectWrap{
    min-height: 2000px;
}
#project1 {
    position: absolute;
    left: 0%;
    top: 9%;
    z-index: 5;
} 

#project2 {
    position: absolute;
    left: 10%;
    top: 9%;
    z-index: 4;
} 

#project3 {
    position: absolute;
    left: 20%;
    top: 9%;
    z-index: 3;
} 

#project1:hover, #project2:hover, #project3:hover {
    z-index: 5;
    transform: translateY(-150px);
    transition: all .4s ease-in-out;
}
#project3:hover ~ #project1 {
    display: none;
}

#project3:hover ~ #project2 {
    display: none;
}