* {
    /* outline: 1px solid grey; */
}

.projectHeader {
    background: radial-gradient(rgba(118, 119, 82, 0.698), #4e4848fa);
    font-size: 1.1em;
    border-radius: 1em;
    padding: 0.5em 0;
}

.projectCard {
    background: radial-gradient(rgba(175, 177, 105, 0.726), rgba(78, 72, 72, 0.883));
    box-shadow: 2em 2em 2em 2em rgba(0,0,0,0.4);
    z-index: 2;
    border-radius: 3em;
    width: 40%;
    
}

.card-body {
    /* display: none; */
}

#projectWrap{
    min-height: 2000px;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover {
    z-index: 5;
    position: absolute;
    left: 0%;
    width: 100%;
    /* transform: translateY(-10em); */
    /* transition: all .4s ease-in-out; */
    background: radial-gradient(rgb(175, 177, 105), rgb(78, 72, 72));
}
/* #project1:hover ~ .card-body, #project2:hover ~ .card-body, #project3:hover ~ .card-body, #project4:hover ~ .card-body {
    display: none;
} */
#project1:hover ~ #projectInfo {
    display: none;
}

#project3:hover ~ #project2 {
    display: none;
}

@media only screen and (max-width: 768px) {
    .projectHeader {
        font-size: 0.6em;
        border-radius: 0.2em;
        padding: 0.2em 0;
    }
    #projectWrap{
        padding: 0.2em;
    }
    .projectCard {
        box-shadow: 1em rgba(0,0,0,0.4);
        border-radius: 1em;
    }

    p {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .projectHeader {
        font-size: 0.9em;
        border-radius: 0.5em;
        padding: 0.5em 0;
    }
}
